<h2>Files: @FileCount</h2>
<div @ondrop="@OnDrop"
     @ondrop:preventDefault="true"
     @ondrop:stopPropagation="true"
     @ondragenter="@OnDragenter"
     @ondragenter:preventDefault="true"
     @ondragenter:stopPropagation="true"
     @ondragover="@OnDragover"
     @ondragover:preventDefault="true"
     @ondragover:stopPropagation="true">
    >
    @*<InputFile OnChange="@LoadFiles" multiple></InputFile>*@

</div>


@code {
    public int FileCount = 0;

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        var testImport = e.File;
    }


    public async void OnDrop(DragEventArgs e)
    {
        int test = 23;
        DataTransferItem[] Items = e.DataTransfer.Items;
        Console.Write("Count: " + Items.Count().ToString());
        foreach (DataTransferItem item in Items)
        {
            if (item.Kind == "file")
            {
                Console.WriteLine(item.Type);
                FileCount++;
            }
        }
    }

    public void OnDragenter(DragEventArgs evt)
    {

    }

    public void OnDragover(DragEventArgs evt)
    {
    }
}
